body {
	background-color: #647db1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:30px;
}

.with-border {
	border: 1px solid rgb(167, 157, 157);
}
.button.menu{
	width: 50%;
display: flex;
justify-content: space-evenly;

}

.flex {
	display: flex;
	flex: auto;
}

.grill-container {
	min-width: 500px;
	min-height: 500px;
	display: flex;
    flex-direction: column;
	background-color: #64b1ab;
    width:fit-content;
    height: fit-content;
	padding: 30px;
}

.line {
	display: flex;
	flex: auto;
	justify-content: space-around;
	flex-direction: row;
}
.cell {
	min-width: 1px;
	min-height: 1px;
	width: auto;
	height: auto;
	background-color: white;
}
.cell:hover {
	background-color: -10px;
}
